jsbeautifier
colorama
requests
argparse
gevent
tldextract
future
PySocks
corscanner
crlfsuite
certifi
chardet
idna
urllib3
xsrfprobe
bs4
html5lib
validators
fake_useragent
requests[security]
autosubtakeover
Flask
xsstrike
s3scanner
xmltodict
termcolor 
cprint 
pycryptodomex
Click
pycares
tornado
aiodns
asyncio
panda
openai